NODE_ENV=development
RABBITMQ_DEFAULT_USER=voltnet
RABBITMQ_DEFAULT_PASS=voltnet
RABBITMQ_HOST=rabbitmq
HEALTH_PORT=3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_gmail@gmail.com
SMTP_PASS=your_gmail_app_password
SMTP_FROM=Tesla Supercharger <your_gmail@gmail.com>

APP_NAME=Tesla Supercharger
APP_URL=http://localhost:3001
