NODE_ENV=development
RABBITMQ_DEFAULT_USER=voltnet
RABBITMQ_DEFAULT_PASS=voltnet
DATABASE_URL=postgresql://sessions:sessions@sessions-db:5432/sessions_db?schema=public
REDIS_HOST=redis
REDIS_PORT=6379
CHARGE_RATE_KWH_PER_SEC=5
