NODE_ENV=development
RABBITMQ_DEFAULT_USER=voltnet
RABBITMQ_DEFAULT_PASS=voltnet
DATABASE_URL=postgresql://stations:stations@stations-db:5432/stations_db?schema=public
REDIS_HOST=redis
REDIS_PORT=6379
